  <main>
  <h1>Admin Page</h1>

    <table>
      <thead>
        <tr>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
					<tr>
						<td align='center'><a href="/admin/user-details">View User Details</a></td>
          </tr>
          <tr>
            <td align='center'><a href="/admin/view-role">View Role</a></td>
					</tr>
          <tr>
          <td align='center'><a href="/admin/suspend-user">Suspend Users</a></td>
          </tr>
			</tbody>
    </table>

  </main>
