<main>
	<div id="error">
		<h1 id="title"><%= h @error_title %></h1>
		<p id="message"><%= h @error_message %></p>
	</div>

	<button type="button" id="go-back-btn" onclick="history.back()">Go Back</button>
</main>

<style>

	#error #title {
		font-size: 1.6em;
	}

	#go-back-btn {
		font-size: 1.4em;
	}

</style>