<main>
	<h2 id="title">Welcome to EDFLIX</h2>
	<a id="redirect" href="/"> Click here to be redirected to the Dashboard </a>
</main>

<style>

	main {
		/* center the content to middle of page */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

	}

	#redirect{
		color: blue;
	}
</style>