<main>
	<h2 id="title">Your password has been reset</h2>
	<a id="redirect" href="/login">Click here to login</a>
</main>

<style>

	main {
		/* center the content to middle of page */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

	}

	#redirect{
		color: blue;
	}
</style>