<main>

<h1>You are <%= word %> <%= role %></h1>
<h3>Your capabilities are: <%= capabilities %></h3>

		
</main>

<style>

	main {
		/* center the content to middle of page */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
    
  
</style>